useDynLib(tidyhydro, .registration = TRUE)
importFrom(Rcpp, evalCpp)
# exportPattern("^[[:alpha:]]+")

S3method(nse, data.frame)
S3method(kge, data.frame)
S3method(pbias, data.frame)
S3method(press, data.frame)
S3method(sfe, data.frame)
export(nse)
export(kge)
export(pbias)
export(press)
export(sfe)
export(nse_vec)
export(kge_vec)
export(pbias_vec)
export(press_vec)
export(sfe_vec)
